//
// Copyright 2021 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:meta';
// go/keep-sorted end
// go/keep-sorted start
@use './elevation';
// go/keep-sorted end

/// Material Design resolvers.
$material: (
  elevation: meta.get-function('resolver', $module: 'elevation'),
);
