{% extends 'default.html' %}

{% block head %}
  <script type="module" src="/js/pages/home-page.js"></script>
  <link rel="stylesheet" href="/css/home-page.css">
{% endblock %}

{% block content %}

<h1>Material Web</h1>
<div class="subtitle">
  <p>
    <code>@material/web</code> is a library of
    <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components" target="_blank">web components</a>
    that helps build beautiful and accessible web applications.
  </p>

  <p>
    <a href="https://github.com/material-components/material-web/discussions/5642" target="_blank">
      <strong>Note: MWC is in maintenance mode pending new maintainers.</strong>
    </a>
  </p>
</div>

{% endblock %}
