//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end

@mixin styles() {
  .track {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border-radius: inherit;

    // Center content
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Separate node for background/outline colors to support opacity changes.
  .track::before {
    content: '';
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    transition-property: opacity, background-color;
    transition-timing-function: linear;
    transition-duration: 67ms;
  }

  .switch:disabled .track::before,
  .switch:disabled .track::after {
    transition: none;
    opacity: var(--_disabled-track-opacity);
  }

  .switch--selected .track::before {
    background-color: var(--_selected-track-color);
  }

  .switch--selected:hover .track::before {
    background-color: var(--_selected-hover-track-color);
  }

  .switch--selected:focus-within .track::before {
    background-color: var(--_selected-focus-track-color);
  }

  .switch--selected:active .track::before {
    background-color: var(--_selected-pressed-track-color);
  }

  .switch--selected:disabled .track::before {
    background-color: var(--_disabled-selected-track-color);
  }

  .switch--unselected .track::before {
    background-color: var(--_unselected-track-color);
    border-color: var(--_unselected-track-outline-color);
    border-style: solid;
    border-width: var(--_track-outline-width);
  }

  .switch--unselected:hover .track::before {
    background-color: var(--_unselected-hover-track-color);
    border-color: var(--_unselected-hover-track-outline-color);
  }

  .switch--unselected:focus-visible .track::before {
    background-color: var(--_unselected-focus-track-color);
    border-color: var(--_unselected-focus-track-outline-color);
  }

  .switch--unselected:active .track::before {
    background-color: var(--_unselected-pressed-track-color);
    border-color: var(--_unselected-pressed-track-outline-color);
  }

  .switch--unselected:disabled .track::before {
    background-color: var(--_disabled-unselected-track-color);
    border-color: var(--_disabled-unselected-track-outline-color);
  }
}
