//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use '../../../elevation/elevation';
// go/keep-sorted end

@mixin styles() {
  :host {
    border-radius: var(--_container-shape);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    // Reset z-index for background elements.
    z-index: 0;
  }

  // Separate element will be needed for disabled opacities (b/307361748)
  .container {
    background: var(--_container-color);
    border-radius: inherit;
    inset: 0;
    position: absolute;
    // Place behind content.
    z-index: -1;
  }

  md-elevation {
    border-radius: inherit;
    // Place behind content.
    z-index: -1;

    @include elevation.theme(
      (
        'level': var(--_container-elevation),
        'shadow-color': var(--_container-shadow-color),
      )
    );
  }

  slot {
    // Allow content to inherit card's border radius
    border-radius: inherit;
  }
}
