node_modules
/build
/coverage
.DS_Store
/lerna-debug.log
/gh-pages
/packages/*/*.js
/packages/*/*.js.map
/packages/*/*.d.ts
/packages/*/src/*-css.ts
/packages/*/package-lock.json
!packages/*/custom_types/**