node_modules
/build
/coverage
.DS_Store
/lerna-debug.log
/gh-pages
/packages/**/*.js
/packages/**/*.js.map
/packages/**/*.d.ts
/packages/*/*.tgz
/packages/*/*-css.ts
/packages/*/package-lock.json
**/*.tsbuildinfo*
!packages/*/custom_types/**
/test/lib/
/scripts/tsc-out/
.vscode
/dist
