node_modules
/build
/coverage
.DS_Store
/lerna-debug.log
/gh-pages
/packages/*/*.js
/packages/*/*.js.map
/packages/*/*.d.ts
/packages/*/*.tgz
/packages/textfield/character-counter/*
/packages/*/src/*-css.ts
/packages/*/package-lock.json
**/*.tsbuildinfo
!packages/*/custom_types/**
/test/benchmark/**/*.js
/test/benchmark/**/*.js.map
/test/benchmark/**/*.d.ts/scripts/tsc-out/
