//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../../tokens';
@use './outlined-text-field';
// go/keep-sorted end

$outlined-field-tokens: tokens.md-comp-outlined-field-values();

@media (forced-colors: active) {
  :host {
    @include outlined-text-field.theme(
      (
        disabled-input-text-color: GrayText,
        disabled-input-text-opacity: 1,
        disabled-label-text-color: GrayText,
        disabled-label-text-opacity: 1,
        disabled-leading-icon-color: GrayText,
        disabled-leading-icon-opacity: 1,
        disabled-outline-color: GrayText,
        disabled-outline-opacity: 1,
        disabled-supporting-text-color: GrayText,
        disabled-supporting-text-opacity: 1,
        disabled-trailing-icon-color: GrayText,
        disabled-trailing-icon-opacity: 1,
      )
    );
  }

  .textarea:not(.has-start) .input {
    // A focused textfield will clip the inline-start outline of the field, so
    // shift it over the width of the outline
    margin-inline-start: var(--_focus-outline-width);
    // Padding - the extra margin we added. This calc was taken from md-field.
    padding-inline-start: calc(
      max(
          var(--_leading-space),
          max(
              var(--_container-shape-start-start),
              var(--_container-shape-end-start)
            ) +
            var(
              --md-outlined-field-outline-label-padding,
              #{map.get($outlined-field-tokens, 'outline-label-padding')}
            )
        ) - var(--_focus-outline-width)
    );
  }
}
