body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

mwc-top-app-bar {
  position: absolute;
}

[type=dismissible][open] + .mdc-drawer-app-content {
  margin-left: 256px;
}

.drawer-content {
  padding: 0px 16px 0 16px;
}

.main-content {
  min-height: 300px;
  padding: 64px 18px 0 18px;
}