//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@forward './md-comp-assist-chip' as md-comp-assist-chip-*;
@forward './md-comp-badge' as md-comp-badge-*;
@forward './md-comp-checkbox' as md-comp-checkbox-*;
@forward './md-comp-circular-progress-indicator' as
  md-comp-circular-progress-indicator-*;
@forward './md-comp-dialog' as md-comp-dialog-*;
@forward './md-comp-divider' as md-comp-divider-*;
@forward './md-comp-elevated-button' as md-comp-elevated-button-*;
@forward './md-comp-elevation' as md-comp-elevation-*;
@forward './md-comp-fab' as md-comp-fab-*;
@forward './md-comp-fab-branded' as md-comp-fab-branded-*;
@forward './md-comp-filled-button' as md-comp-filled-button-*;
@forward './md-comp-filled-field' as md-comp-filled-field-*;
@forward './md-comp-filled-icon-button' as md-comp-filled-icon-button-*;
@forward './md-comp-filled-select' as md-comp-filled-select-*;
@forward './md-comp-filled-text-field' as md-comp-filled-text-field-*;
@forward './md-comp-filled-tonal-button' as md-comp-filled-tonal-button-*;
@forward './md-comp-filled-tonal-icon-button' as
  md-comp-filled-tonal-icon-button-*;
@forward './md-comp-filter-chip' as md-comp-filter-chip-*;
@forward './md-comp-focus-ring' as md-comp-focus-ring-*;
@forward './md-comp-full-screen-dialog' as md-comp-full-screen-dialog-*;
@forward './md-comp-icon-button' as md-comp-icon-button-*;
@forward './md-comp-input-chip' as md-comp-input-chip-*;
@forward './md-comp-linear-progress-indicator' as
  md-comp-linear-progress-indicator-*;
@forward './md-comp-list' as md-comp-list-*;
@forward './md-comp-list-item' as md-comp-list-item-*;
@forward './md-comp-menu' as md-comp-menu-*;
@forward './md-comp-menu-item' as md-comp-menu-item-*;
@forward './md-comp-navigation-bar' as md-comp-navigation-bar-*;
@forward './md-comp-navigation-drawer' as md-comp-navigation-drawer-*;
@forward './md-comp-outlined-button' as md-comp-outlined-button-*;
@forward './md-comp-outlined-field' as md-comp-outlined-field-*;
@forward './md-comp-outlined-icon-button' as md-comp-outlined-icon-button-*;
@forward './md-comp-outlined-segmented-button' as
  md-comp-outlined-segmented-button-*;
@forward './md-comp-outlined-select' as md-comp-outlined-select-*;
@forward './md-comp-outlined-text-field' as md-comp-outlined-text-field-*;
@forward './md-comp-radio-button' as md-comp-radio-button-*;
@forward './md-comp-ripple' as md-comp-ripple-*;
@forward './md-comp-slider' as md-comp-slider-*;
@forward './md-comp-suggestion-chip' as md-comp-suggestion-chip-*;
@forward './md-comp-switch' as md-comp-switch-*;
@forward './md-comp-tab' as md-comp-tab-*;
@forward './md-comp-test-table' as md-comp-test-table-*;
@forward './md-comp-text-button' as md-comp-text-button-*;
@forward './md-ref-palette' as md-ref-palette-*;
@forward './md-ref-typeface' as md-ref-typeface-*;
@forward './md-sys-color' as md-sys-color-*;
@forward './md-sys-elevation' as md-sys-elevation-*;
@forward './md-sys-motion' as md-sys-motion-*;
@forward './md-sys-shape' as md-sys-shape-*;
@forward './md-sys-state' as md-sys-state-*;
@forward './md-sys-typescale' as md-sys-typescale-*;
// go/keep-sorted end
