//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-ref-typeface';
@use './v0_172/md-sys-typescale';
// go/keep-sorted end

$_default: (
  'md-ref-typeface': md-ref-typeface.values(),
);

$supported-tokens: (
  'body-large',
  'body-medium',
  'body-small',
  'display-large',
  'display-medium',
  'display-small',
  'headline-large',
  'headline-medium',
  'headline-small',
  'label-large',
  'label-medium',
  'label-small',
  'title-large',
  'title-medium',
  'title-small'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: md-sys-typescale.values($deps, $exclude-hardcoded-values);

  // TODO(b/271876162): Remove when the token compiler emits these custom properties
  @each $token in $supported-tokens {
    $value: map.get($tokens, $token);
    @if $value != null {
      $tokens: map.set(
        $tokens,
        $token,
        var(--md-sys-typescale-#{$token}, #{$value})
      );
    }
  }
  @return $tokens;
}
