//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_172/md-comp-filled-button';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'container-color',
  'container-elevation',
  'container-height',
  'container-shadow-color',
  'container-shape',
  'disabled-container-color',
  'disabled-container-elevation',
  'disabled-container-opacity',
  'disabled-label-text-color',
  'disabled-label-text-opacity',
  'focus-container-elevation',
  'focus-label-text-color',
  'hover-container-elevation',
  'hover-label-text-color',
  'hover-state-layer-color',
  'hover-state-layer-opacity',
  'label-text-color',
  'label-text-type',
  'pressed-container-elevation',
  'pressed-label-text-color',
  'pressed-state-layer-color',
  'pressed-state-layer-opacity',
  'spacing-leading',
  'spacing-trailing',
  'with-icon-disabled-icon-color',
  'with-icon-disabled-icon-opacity',
  'with-icon-focus-icon-color',
  'with-icon-hover-icon-color',
  'with-icon-icon-color',
  'with-icon-icon-size',
  'with-icon-pressed-icon-color',
  'with-icon-spacing-leading',
  'with-icon-spacing-trailing',
  'with-trailing-icon-spacing-leading',
  'with-trailing-icon-spacing-trailing',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  'focus-state-layer-color',
  'focus-state-layer-opacity',
  'label-text-font',
  'label-text-line-height',
  'label-text-size',
  'label-text-tracking',
  'label-text-weight',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-filled-button.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens,
    $new-tokens: (
      // TODO(b/198759625): Remove once spacing tokens are formally added
      // go/keep-sorted start
      'spacing-leading': if($exclude-hardcoded-values, null, 24px),
      'spacing-trailing': if($exclude-hardcoded-values, null, 24px),
      'with-icon-spacing-leading': if($exclude-hardcoded-values, null, 16px),
      'with-icon-spacing-trailing': if($exclude-hardcoded-values, null, 24px),
      'with-trailing-icon-spacing-leading':
        if($exclude-hardcoded-values, null, 24px),
      'with-trailing-icon-spacing-trailing':
        if($exclude-hardcoded-values, null, 16px),
      // go/keep-sorted end
    )
  );

  // TODO(b/271876162): remove when tokens compiler emits typescale tokens
  $tokens: map.merge(
    $tokens,
    (
      'label-text-type': map.get($deps, 'md-sys-typescale', 'label-large'),
    )
  );

  @return $tokens;
}
