//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-shape';
@use './v0_172/md-comp-circular-progress-indicator';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-shape': md-sys-shape.values(),
);

$_unsupported-tokens: (
  // must be circular
  'active-indicator-shape'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: md-comp-circular-progress-indicator.values(
    $deps,
    $exclude-hardcoded-values
  );
  $tokens: map.remove($tokens, $_unsupported-tokens...);

  // must be set as a raw % for compatibility between rendering border or svg.
  // so the default value of 4px is converted to 8.33% by removing
  // and re-adding the token.
  $tokens: map.set($tokens, 'active-indicator-width', 8.33);
  @return $tokens;
}
