//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-ref-palette';
@use './v0_172/md-sys-color';
// go/keep-sorted end

$_default-dark: (
  'md-ref-palette': md-ref-palette.values(),
);

@function values-dark(
  $deps: $_default-dark,
  $exclude-custom-properties: false
) {
  $tokens: md-sys-color.values-dark($deps);

  @if not $exclude-custom-properties {
    // Create --md-sys-color-* custom properties
    @each $token, $value in $tokens {
      $var: var(--md-sys-color-#{$token}, #{$value});
      $tokens: map.set($tokens, $token, $var);
    }
  }

  @return $tokens;
}

$_default-light: (
  'md-ref-palette': md-ref-palette.values(),
);

@function values-light(
  $deps: $_default-light,
  $exclude-custom-properties: false
) {
  $tokens: md-sys-color.values-light($deps);

  @if not $exclude-custom-properties {
    // Create --md-sys-color-* custom properties
    @each $token, $value in $tokens {
      $var: var(--md-sys-color-#{$token}, #{$value});
      $tokens: map.set($tokens, $token, $var);
    }
  }

  @return $tokens;
}
