//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_172/md-comp-dialog';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

$_unsupported-tokens: (
  'headline-font',
  'headline-line-height',
  'headline-size',
  'headline-tracking',
  'headline-weight',
  'supporting-text-font',
  'supporting-text-line-height',
  'supporting-text-size',
  'supporting-text-tracking',
  'supporting-text-weight'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: md-comp-dialog.values($deps, $exclude-hardcoded-values);
  $tokens: map.remove($tokens, $_unsupported-tokens...);
  // TODO(b/271876162): remove when tokens compiler emits typescale tokens
  $tokens: map.merge(
    $tokens,
    (
      'action-label-text-type':
        map.get($deps, 'md-sys-typescale', 'label-large'),
      'headline-type': map.get($deps, 'md-sys-typescale', 'headline-small'),
    )
  );
  @return $tokens;
}
