//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_172/md-comp-list';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'container-color',
  'container-shape',
  'disabled-label-text-color',
  'disabled-label-text-opacity',
  'disabled-leading-icon-color',
  'disabled-leading-icon-opacity',
  'disabled-trailing-icon-color',
  'disabled-trailing-icon-opacity',
  'focus-label-text-color',
  'focus-leading-icon-icon-color',
  'focus-trailing-icon-icon-color',
  'hover-label-text-color',
  'hover-leading-icon-icon-color',
  'hover-state-layer-color',
  'hover-state-layer-opacity',
  'hover-trailing-icon-icon-color',
  'label-text-color',
  'label-text-font',
  'label-text-line-height',
  'label-text-size',
  'label-text-weight',
  'large-leading-video-height',
  'leading-avatar-color',
  'leading-avatar-label-color',
  'leading-avatar-label-font',
  'leading-avatar-label-line-height',
  'leading-avatar-label-size',
  'leading-avatar-label-weight',
  'leading-avatar-shape',
  'leading-avatar-size',
  'leading-element-leading-space',
  'leading-icon-color',
  'leading-icon-size',
  'leading-image-height',
  'leading-image-shape',
  'leading-image-width',
  'leading-space',
  'leading-video-leading-space',
  'leading-video-shape',
  'leading-video-width',
  'one-line-container-height',
  'pressed-label-text-color',
  'pressed-leading-icon-icon-color',
  'pressed-state-layer-color',
  'pressed-state-layer-opacity',
  'pressed-trailing-icon-icon-color',
  'small-leading-video-height',
  'supporting-text-color',
  'supporting-text-font',
  'supporting-text-line-height',
  'supporting-text-size',
  'supporting-text-weight',
  'three-line-container-height',
  'trailing-element-headline-trailing-element-space',
  'trailing-icon-color',
  'trailing-icon-size',
  'trailing-space',
  'trailing-supporting-text-color',
  'trailing-supporting-text-font',
  'trailing-supporting-text-line-height',
  'trailing-supporting-text-size',
  'trailing-supporting-text-weight',
  'two-line-container-height',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  'container-elevation',
  'disabled-state-layer-color',
  'disabled-state-layer-opacity',
  'dragged-container-elevation',
  'dragged-label-text-color',
  'dragged-leading-icon-icon-color',
  'dragged-state-layer-color',
  'dragged-state-layer-opacity',
  'dragged-trailing-icon-icon-color',
  'focus-state-layer-color',
  'focus-state-layer-opacity',
  'label-text-tracking',
  'label-text-type',
  'leading-avatar-label-tracking',
  'leading-avatar-label-type',
  'overline-color',
  'overline-font',
  'overline-line-height',
  'overline-size',
  'overline-tracking',
  'overline-type',
  'overline-weight',
  'selected-trailing-icon-color',
  'supporting-text-tracking',
  'supporting-text-type',
  'trailing-supporting-text-tracking',
  'trailing-supporting-text-type',
  'unselected-trailing-icon-color',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $original-tokens: md-comp-list.values($deps, $exclude-hardcoded-values);

  $tokens: values.validate(
    $original-tokens,
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens,
    $new-tokens: _get-new-tokens($deps, $exclude-hardcoded-values),
    $renamed-tokens: _get-renamed-tokens($original-tokens)
  );

  @return $tokens;
}

// remove list-item prefix from tokens
@function _get-renamed-tokens($tokens) {
  $keys: map.keys($tokens);
  $renamed-tokens: ();

  @each $key in $keys {
    $renamed-key: string.slice($key, string.length('list-item-') + 1);
    $renamed-tokens: map.set($renamed-tokens, $key, $renamed-key);
  }

  @return $renamed-tokens;
}

@function _get-new-tokens($deps, $exclude-hardcoded-values) {
  // Values pulled from b/198759625 spreadsheet
  @return (
    // go/keep-sorted start
    'leading-element-leading-space': if($exclude-hardcoded-values, null, 16px),
    'leading-space': if($exclude-hardcoded-values, null, 16px),
    'leading-video-leading-space': if($exclude-hardcoded-values, null, 0px),
    // Commented out until the comments in the spreadsheet linked above are
    // resolved regarding vertical alignment.
    // 'leading-item-top-space': if($exclude-hardcoded-values, null, 8px),
    // 'leading-video-top-space': if($exclude-hardcoded-values, null, 0px),
    // 'leading-item-bottom-space': if($exclude-hardcoded-values, null, 8px),
    // 'leading-video-bottom-space': if($exclude-hardcoded-values, null, 0px),
    'trailing-element-headline-trailing-element-space': 16px,
    'trailing-space': if($exclude-hardcoded-values, null, 24px),
    // go/keep-sorted end
  );
}
