// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../sass/shape';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
// TODO(b/272526637): tonal surface update
@use './v0_161/md-comp-assist-chip';
@use './v0_161/md-sys-color';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'container-height',
  'container-shape',
  'container-surface-tint-layer-color',
  'disabled-label-text-color',
  'disabled-label-text-opacity',
  'disabled-leading-icon-color',
  'disabled-leading-icon-opacity',
  'elevated-container-color',
  'elevated-container-elevation',
  'elevated-container-shadow-color',
  'elevated-disabled-container-color',
  'elevated-disabled-container-elevation',
  'elevated-disabled-container-opacity',
  'elevated-focus-container-elevation',
  'elevated-hover-container-elevation',
  'elevated-pressed-container-elevation',
  'flat-disabled-outline-color',
  'flat-disabled-outline-opacity',
  'flat-focus-outline-color',
  'flat-outline-color',
  'flat-outline-width',
  'focus-label-text-color',
  'focus-leading-icon-color',
  'focus-state-layer-color',
  'focus-state-layer-opacity',
  'hover-label-text-color',
  'hover-leading-icon-color',
  'hover-state-layer-color',
  'hover-state-layer-opacity',
  'icon-size',
  'label-text-color',
  'label-text-type',
  'leading-icon-color',
  'pressed-label-text-color',
  'pressed-leading-icon-color',
  'pressed-state-layer-color',
  'pressed-state-layer-opacity',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  'dragged-container-elevation',
  'dragged-label-text-color',
  'dragged-leading-icon-color',
  'dragged-state-layer-color',
  'dragged-state-layer-opacity',
  'flat-container-elevation',
  'label-text-font',
  'label-text-line-height',
  'label-text-size',
  'label-text-tracking',
  'label-text-weight',
  // go/keep-sorted end
);

$renamed-tokens: (
  // Remove "with-icon-*" prefix (b/273534858)
  // Rename "icon" to "leading-icon" (b/275577569)
  'with-icon-disabled-icon-color': 'disabled-leading-icon-color',
  'with-icon-disabled-icon-opacity': 'disabled-leading-icon-opacity',
  'with-icon-dragged-icon-color': 'dragged-leading-icon-color',
  'with-icon-focus-icon-color': 'focus-leading-icon-color',
  'with-icon-hover-icon-color': 'hover-leading-icon-color',
  'with-icon-icon-color': 'leading-icon-color',
  'with-icon-icon-size': 'icon-size',
  'with-icon-pressed-icon-color': 'pressed-leading-icon-color'
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-assist-chip.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens,
    $renamed-tokens: $renamed-tokens
  );

  @each $token, $value in $tokens {
    $tokens: map.set(
      $tokens,
      $token,
      var(--md-assist-chip-#{$token}, #{$value})
    );
  }
  $tokens: shape.resolve-tokens($tokens, 'container-shape');
  @return $tokens;
}
