//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-shape';
@use './md-sys-state';
@use './v0_172/md-comp-outlined-icon-button';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return md-comp-outlined-icon-button.values($deps, $exclude-hardcoded-values);
}
