//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
@use 'sass:math';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-shape';
@use './v0_172/md-comp-circular-progress-indicator';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'active-indicator-color',
  'active-indicator-width',
  'four-color-active-indicator-four-color',
  'four-color-active-indicator-one-color',
  'four-color-active-indicator-three-color',
  'four-color-active-indicator-two-color',
  'size',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  // must be circular
  'active-indicator-shape',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-shape': md-sys-shape.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-circular-progress-indicator.values(
      $deps,
      $exclude-hardcoded-values
    ),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens
  );

  @if not $exclude-hardcoded-values {
    // must be set as a raw % for compatibility between rendering border or svg.
    $width: map.get($tokens, 'active-indicator-width');
    $size: map.get($tokens, 'size');
    $tokens: map.set(
      $tokens,
      'active-indicator-width',
      math.div($width, $size) * 100
    );
  }

  @return $tokens;
}
