//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_172/md-comp-list';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'container-color',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  'list-item-container-elevation',
  'list-item-container-shape',
  'list-item-disabled-label-text-color',
  'list-item-disabled-label-text-opacity',
  'list-item-disabled-leading-icon-color',
  'list-item-disabled-leading-icon-opacity',
  'list-item-disabled-state-layer-color',
  'list-item-disabled-state-layer-opacity',
  'list-item-disabled-trailing-icon-color',
  'list-item-disabled-trailing-icon-opacity',
  'list-item-dragged-container-elevation',
  'list-item-dragged-label-text-color',
  'list-item-dragged-leading-icon-icon-color',
  'list-item-dragged-state-layer-color',
  'list-item-dragged-state-layer-opacity',
  'list-item-dragged-trailing-icon-icon-color',
  'list-item-focus-label-text-color',
  'list-item-focus-leading-icon-icon-color',
  'list-item-focus-state-layer-color',
  'list-item-focus-state-layer-opacity',
  'list-item-focus-trailing-icon-icon-color',
  'list-item-hover-label-text-color',
  'list-item-hover-leading-icon-icon-color',
  'list-item-hover-state-layer-color',
  'list-item-hover-state-layer-opacity',
  'list-item-hover-trailing-icon-icon-color',
  'list-item-label-text-color',
  'list-item-label-text-font',
  'list-item-label-text-line-height',
  'list-item-label-text-size',
  'list-item-label-text-tracking',
  'list-item-label-text-type',
  'list-item-label-text-weight',
  'list-item-large-leading-video-height',
  'list-item-leading-avatar-color',
  'list-item-leading-avatar-label-color',
  'list-item-leading-avatar-label-font',
  'list-item-leading-avatar-label-line-height',
  'list-item-leading-avatar-label-size',
  'list-item-leading-avatar-label-tracking',
  'list-item-leading-avatar-label-type',
  'list-item-leading-avatar-label-weight',
  'list-item-leading-avatar-shape',
  'list-item-leading-avatar-size',
  'list-item-leading-icon-color',
  'list-item-leading-icon-size',
  'list-item-leading-image-height',
  'list-item-leading-image-shape',
  'list-item-leading-image-width',
  'list-item-leading-video-shape',
  'list-item-leading-video-width',
  'list-item-one-line-container-height',
  'list-item-overline-color',
  'list-item-overline-font',
  'list-item-overline-line-height',
  'list-item-overline-size',
  'list-item-overline-tracking',
  'list-item-overline-type',
  'list-item-overline-weight',
  'list-item-pressed-label-text-color',
  'list-item-pressed-leading-icon-icon-color',
  'list-item-pressed-state-layer-color',
  'list-item-pressed-state-layer-opacity',
  'list-item-pressed-trailing-icon-icon-color',
  'list-item-selected-trailing-icon-color',
  'list-item-small-leading-video-height',
  'list-item-supporting-text-color',
  'list-item-supporting-text-font',
  'list-item-supporting-text-line-height',
  'list-item-supporting-text-size',
  'list-item-supporting-text-tracking',
  'list-item-supporting-text-type',
  'list-item-supporting-text-weight',
  'list-item-three-line-container-height',
  'list-item-trailing-icon-color',
  'list-item-trailing-icon-size',
  'list-item-trailing-supporting-text-color',
  'list-item-trailing-supporting-text-font',
  'list-item-trailing-supporting-text-line-height',
  'list-item-trailing-supporting-text-size',
  'list-item-trailing-supporting-text-tracking',
  'list-item-trailing-supporting-text-type',
  'list-item-trailing-supporting-text-weight',
  'list-item-two-line-container-height',
  'list-item-unselected-trailing-icon-color',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-list.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens,
    $renamed-tokens: (
      'list-item-container-color': 'container-color',
    )
  );

  @return $tokens;
}
