//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../sass/shape';
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_161/md-comp-assist-chip';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

$_unsupported-tokens: (
  'dragged-state-layer-color',
  'dragged-state-layer-opacity',
  'label-text-font',
  'label-text-line-height',
  'label-text-size',
  'label-text-tracking',
  'label-text-weight'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: md-comp-assist-chip.values($deps, $exclude-hardcoded-values);
  $tokens: map.remove($tokens, $_unsupported-tokens...);
  @each $token, $value in $tokens {
    $tokens: map.set(
      $tokens,
      $token,
      var(--md-assist-chip-#{$token}, #{$value})
    );
  }
  $tokens: shape.resolve-tokens($tokens, 'container-shape');
  @return $tokens;
}
