//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-shape';
@use './v0_172/md-comp-linear-progress-indicator';
@use './values';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-shape': md-sys-shape.values(),
);

$supported-tokens: (
  // go/keep-sorted start
  'active-indicator-color',
  'active-indicator-height',
  'four-color-active-indicator-four-color',
  'four-color-active-indicator-one-color',
  'four-color-active-indicator-three-color',
  'four-color-active-indicator-two-color',
  'track-color',
  'track-height',
  'track-shape',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  // can only control track since scaling is used on buffer/progress
  'active-indicator-shape',
  // go/keep-sorted end
);

// TODO(b/275045611) may need to update based on resolution of design
// for buffer and background animation.
@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return values.validate(
    md-comp-linear-progress-indicator.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens
  );
}
