//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-state';
@use './v0_172/md-comp-radio-button';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'disabled-selected-icon-color',
  'disabled-selected-icon-opacity',
  'disabled-unselected-icon-color',
  'disabled-unselected-icon-opacity',
  'icon-size',
  'selected-focus-icon-color',
  'selected-hover-icon-color',
  'selected-hover-state-layer-color',
  'selected-hover-state-layer-opacity',
  'selected-icon-color',
  'selected-pressed-icon-color',
  'selected-pressed-state-layer-color',
  'selected-pressed-state-layer-opacity',
  'state-layer-size',
  'unselected-focus-icon-color',
  'unselected-hover-icon-color',
  'unselected-hover-state-layer-color',
  'unselected-hover-state-layer-opacity',
  'unselected-icon-color',
  'unselected-pressed-icon-color',
  'unselected-pressed-state-layer-color',
  'unselected-pressed-state-layer-opacity',
  // go/keep-sorted end
);

$unsupported-tokens: (
  // go/keep-sorted start
  'selected-focus-state-layer-color',
  'selected-focus-state-layer-opacity',
  'unselected-focus-state-layer-color',
  'unselected-focus-state-layer-opacity',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-state': md-sys-state.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-radio-button.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $unsupported-tokens
  );

  @return $tokens;
}
