//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use './md-ref-typeface';
@use './v0_172/md-sys-typescale';
// go/keep-sorted end

$_default: (
  'md-ref-typeface': md-ref-typeface.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return md-sys-typescale.values($deps, $exclude-hardcoded-values);
}
