//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use './v0_192/md-sys-motion';
// go/keep-sorted end

@function values($exclude-hardcoded-values: false) {
  @return md-sys-motion.values($exclude-hardcoded-values);
}
