//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './md-sys-shape';
@use './md-sys-state';
@use './md-sys-typescale';
@use './v0_172/md-comp-slider';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'active-track-color',
  'active-track-height',
  'active-track-shape',
  'disabled-active-track-color',
  'disabled-active-track-opacity',
  'disabled-handle-color',
  'disabled-handle-elevation',
  'disabled-inactive-track-color',
  'disabled-inactive-track-opacity',
  'focus-handle-color',
  'handle-color',
  'handle-elevation',
  'handle-height',
  'handle-shadow-color',
  'handle-shape',
  'handle-width',
  'hover-handle-color',
  'hover-state-layer-color',
  'hover-state-layer-opacity',
  'inactive-track-color',
  'inactive-track-height',
  'inactive-track-shape',
  'label-container-color',
  'label-container-height',
  'label-label-text-color',
  'label-label-text-type',
  'pressed-handle-color',
  'pressed-state-layer-color',
  'pressed-state-layer-opacity',
  'state-layer-size',
  'with-overlap-handle-outline-color',
  'with-overlap-handle-outline-width',
  'with-tick-marks-active-container-color',
  'with-tick-marks-container-size',
  'with-tick-marks-disabled-container-color',
  'with-tick-marks-inactive-container-color',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
  'md-sys-typescale': md-sys-typescale.values(),
);

$_unsupported-tokens: (
  'disabled-handle-opacity',
  'label-container-elevation',
  'label-label-text-font',
  'label-label-text-line-height',
  'label-label-text-size',
  'label-label-text-tracking',
  'label-label-text-weight',
  'track-elevation',
  // for efficiency, tick marks are rendered as radial-gradients and
  // have more limited customization
  'with-tick-marks-active-container-opacity',
  'with-tick-marks-container-shape',
  'with-tick-marks-disabled-container-opacity',
  'with-tick-marks-inactive-container-opacity',
  // focus tokens no longer used.
  'focus-state-layer-color',
  'focus-state-layer-opacity'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: values.validate(
    md-comp-slider.values($deps, $exclude-hardcoded-values),
    $supported-tokens: $supported-tokens,
    $unsupported-tokens: $_unsupported-tokens
  );

  // TODO(b/271876162): remove when tokens compiler emits typescale tokens
  $tokens: map.merge(
    $tokens,
    (
      'label-label-text-type':
        map.get($deps, 'md-sys-typescale', 'label-medium'),
    )
  );

  @return $tokens;
}
