//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use './md-sys-color';
@use './md-sys-elevation';
@use './values';
// go/keep-sorted end

$supported-tokens: (
  // go/keep-sorted start
  'level',
  'shadow-color',
  // go/keep-sorted end
);

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  $tokens: (
    'level': map.get($deps, 'md-sys-elevation', 'level0'),
    'shadow-color': map.get($deps, 'md-sys-color', 'shadow'),
  );
  @return values.validate($tokens, $supported-tokens: $supported-tokens);
}
