body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

#content {
  height: 200vh;
  padding-left: 16px;
  padding-right: 16px;
}

.custom {
  --mdc-theme-primary: orange;
  --mdc-theme-on-primary: black;
}
