//
// Copyright 2021 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'true' as test with (
  $catch-errors: true
);

// go/keep-sorted start
@use 'assert_test';
@use 'list_ext_test';
@use 'map_ext_test';
@use 'string_ext_test';
@use 'throw_test';
@use 'type_test';
@use 'var_test';
// go/keep-sorted end
