//
// Copyright 2021 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../../focus/focus-ring';
@use '../../ripple/ripple';
// go/keep-sorted end

@mixin styles() {
  :host {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
    height: var(--_container-height);
    min-width: 64px;
    outline: none;
    padding-inline-start: var(--_leading-space);
    padding-inline-end: var(--_trailing-space);
    position: relative;
    font-family: var(--_label-text-font);
    font-size: var(--_label-text-size);
    line-height: var(--_label-text-line-height);
    font-weight: var(--_label-text-weight);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    // Override vertical-align with shortest value "top". Vertical-align's
    // default "baseline" value causes buttons to be misaligned next to each
    // other if one button has an icon and the other does not.
    vertical-align: top;

    @include ripple.theme(
      (
        hover-color: var(--_hover-state-layer-color),
        pressed-color: var(--_pressed-state-layer-color),
        hover-opacity: var(--_hover-state-layer-opacity),
        pressed-opacity: var(--_pressed-state-layer-opacity),
      )
    );
  }

  md-focus-ring {
    @include focus-ring.theme(
      (
        'shape-start-start': var(--_container-shape-start-start),
        'shape-start-end': var(--_container-shape-start-end),
        'shape-end-end': var(--_container-shape-end-end),
        'shape-end-start': var(--_container-shape-end-start),
      )
    );
  }

  :host([disabled]) {
    cursor: default;
    pointer-events: none;
  }

  .button {
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    cursor: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
    background: transparent;
    text-decoration: none;
    width: 100%;
    z-index: 0; // Place content on top of elevation and ripple
    height: 100%;
    font: inherit;
    color: var(--_label-text-color);
    padding: 0;
    gap: inherit;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  :host(:hover) .button {
    color: var(--_hover-label-text-color);
  }

  :host(:focus-within) .button {
    color: var(--_focus-label-text-color);
  }

  :host(:active) .button {
    color: var(--_pressed-label-text-color);
  }

  .button::before {
    // Background color. Separate node for disabled opacity styles.
    background-color: var(--_container-color);
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
  }

  :host([disabled]) .label {
    color: var(--_disabled-label-text-color);
    opacity: var(--_disabled-label-text-opacity);
  }

  :host([disabled]) .button::before {
    background-color: var(--_disabled-container-color);
    opacity: var(--_disabled-container-opacity);
  }

  @media (forced-colors: active) {
    .button::before {
      border: 1px solid CanvasText;
    }

    :host([disabled]) .button {
      --_disabled-icon-color: GrayText;
      --_disabled-icon-opacity: 1;
      --_disabled-container-opacity: 1;
      --_disabled-label-text-color: GrayText;
      --_disabled-label-text-opacity: 1;
    }
  }

  .button::before,
  md-elevation,
  md-ripple {
    z-index: -1; // Place behind content
  }

  :host([has-icon]:not([trailing-icon])) {
    padding-inline-start: var(--_with-leading-icon-leading-space);
    padding-inline-end: var(--_with-leading-icon-trailing-space);
  }

  :host([has-icon][trailing-icon]) {
    padding-inline-start: var(--_with-trailing-icon-leading-space);
    padding-inline-end: var(--_with-trailing-icon-trailing-space);
  }
}
