/*!
 * Copyright 2026 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

// go/keep-sorted start by_regex='(.+) prefix_order=sass:
@use 'linear-progress-tokens';
// go/keep-sorted end

$determinate-duration: 400ms;
$determinate-easing: cubic-bezier(0, 0, 0.2, 1);
$indeterminate-duration: 2s;

@layer md.sys;
@layer md.comp.linear-progress {
  .linear-progress {
    @include linear-progress-tokens.root;

    position: relative;
    direction: ltr;
    min-width: 80px;
    height: var(--container-height);
    border-radius: var(--track-shape);
    contain: strict;
    content-visibility: auto;
  }

  .linear-progress-inactive-track,
  .linear-progress-dots,
  .linear-progress-stop-indicator,
  .linear-progress-indicator {
    position: absolute;
  }

  .linear-progress-inactive-track,
  .linear-progress-dots {
    top: calc(50% - var(--active-indicator-thickness) / 2);
    height: var(--active-indicator-thickness);
    border-radius: var(--active-indicator-thickness);
  }

  .linear-progress-inactive-track {
    inset-inline: 0;
    background: var(--track-color);
    transition:
      inset-inline-start $determinate-duration $determinate-easing,
      inset-inline-end $determinate-duration $determinate-easing;
  }

  .linear-progress-dots {
    inset-inline-end: 0;
    animation: linear infinite $determinate-duration;
    animation-name: buffering;
    background-color: var(--active-indicator-color);
    background-repeat: repeat-x;
    $svg: "data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 2' preserveAspectRatio='xMinYMin slice'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/svg%3E";
    -webkit-mask-image: url($svg);
    mask-image: url($svg);
  }

  .linear-progress-dots[hidden],
  .linear-progress-stop-indicator[hidden] {
    display: none;
  }

  .linear-progress-indicator {
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .linear-progress-active {
    fill: none;
    stroke: var(--active-indicator-color);
    stroke-linecap: round;
    stroke-width: var(--active-indicator-thickness);
    stroke-dasharray: 100;
    transition: stroke-dashoffset $determinate-duration $determinate-easing;
  }

  .linear-progress-stop-indicator {
    inset-inline-end: 0;
    top: calc(50% - var(--active-indicator-thickness) / 2);
    width: var(--active-indicator-thickness);
    height: var(--active-indicator-thickness);
    border-radius: 50%;
    background: var(--active-indicator-color);
  }

  .linear-progress.indeterminate .linear-progress-inactive-track {
    inset-inline: 0;
    transition: none;
  }

  .linear-progress.indeterminate .linear-progress-active {
    transition: none;
    stroke-dasharray: 30 100;
    animation: linear infinite $indeterminate-duration;
    animation-name: linear-indeterminate;
  }

  @media (forced-colors: active) {
    .linear-progress-active {
      stroke: CanvasText;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .linear-progress.indeterminate .linear-progress-active {
      animation-duration: 4s;
    }
  }

  @keyframes linear-indeterminate {
    0% {
      stroke-dashoffset: 40;
    }
    100% {
      stroke-dashoffset: -130;
    }
  }

  @keyframes buffering {
    0% {
      $_dot-size: calc(var(--active-indicator-thickness));
      $_dot-background-width: calc($_dot-size * 2.5);
      transform: translateX(#{$_dot-background-width});
    }
  }
}
