name: Deploy to Firebase Hosting on release and manual
'on':
  release:
    types:
      - published
  workflow_dispatch:
    # allows triggering from the gihub UI
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
      - uses: google/wireit@setup-github-actions-caching/v1
      - run: npm ci
      - run: 'npm run build:catalog'
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MATERIAL_WEB_CATALOG }}'
          channelId: live
          projectId: material-web-catalog
          entryPoint: catalog
